name: servers
on: push

jobs:
  client-server:
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest ]
        dir: [ grpc, websocket, express]
    runs-on: ${{ matrix.os }}
    defaults:
      run:
        working-directory: ${{ matrix.dir }}
    steps:
      - uses: actions/setup-node@main
        with:
          check-latest: true
          node-version: lts/*
      - uses: actions/checkout@main
      - run: npm install pm2@latest -g
      - run: npm install
      - run: pm2 start test/app.js
      - run: ping -c 3 localhost
      - run: npx mocha test/client.js
  pm2:
    defaults:
      run:
        working-directory: pm2
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: actions/setup-node@main
      - run: npm install pm2@latest -g
      - run: npm install
      - run: ./test/CLI/test.sh